i
    color: white
    font-size: 2em
    margin: 10px

#navigation
    color: white
    font-weight: bold
    i
        i
            position: absolute
            font-size: 1em
            right: -85%
            top: -30%
            transform: rotate(90deg)