#punishmentForm
    div
        display: flex
        justify-content: flex-start
        align-items: baseline
    label
        width: 45%
    input
        width: 75px
        margin: 0 10px

.disabled
    text-decoration: line-through
.checkbox
    
    height: 20px
    