#punishmentForm
    div
        display: flex
        justify-content: flex-start
        align-items: baseline
    label
        width: 45%
    input
        width: 75px
        margin: 0 10px

.disabled
    text-decoration: line-through

.checkbox
    width: 50px

.invalid
    outline: 3px solid red

.btn.active span.nonCheckBoxAllow 
    display: none
  
  
.btn.active span.checkBoxAllow 
    display: inline
  
  
.btn span.nonCheckBoxAllow 
    display: inline
  
  
.btn span.checkBoxAllow 
    display: none