<div class="card mx-5">
  <div class="card-header">
    <h4 class="card-title m-1 p-1 d-inline-block">
      Zmiana formy kary ograniczenia wolności na potrącenia z wynagrodzenia
    </h4>
    <i (click)="goBack()" class="far fa-arrow-alt-circle-right float-right m-2"></i>
  </div>
  <div class="card-body">
    <form [formGroup]="deductionForm" class="form-group" (ngSubmit)="onSubmit()">
      <div class="form-group-item mb-3">
        <label>Całkowity wymiar kary w miesiącach</label>
        <input
          class="form-control ml-3"
          [ngClass]="punishmentSize.errors && punishmentSize.dirty ? 'is-invalid' : null"
          formControlName="punishmentSize"
          min="1"
          max="24"
          type="number"
        />
        <div class="invalid-feedback">Nieprawidłowy wymiar kary</div>
        <!-- <div *ngIf="punishmentSize.errors && punishmentSize.dirty">Nieprawidłowy wymiar kary</div> -->
      </div>
      <div class="form-group-item mb-3">
        <label>Miesięczny wymiar kary w godzinach</label>
        <input
          class="form-control ml-3"
          [ngClass]="monthlyRate.errors?.range ? 'is-invalid' : null"
          formControlName="monthlyRate"
          type="number"
          min="20"
          max="40"
        />
        <div class="invalid-feedback">
          {{ monthlyRate.getError('range') }}
        </div>
      </div>
      <div class="form-group-item mb-3">
        <label>Godziny wykonane przez skazanego</label>
        <input
          class="form-control ml-3"
          [ngClass]="deductionForm.errors ? 'is-invalid' : null"
          formControlName="serviceDone"
          min="1"
          max="960 "
          type="number"
        />
        <div *ngIf="deductionForm.errors" class="invalid-feedback">
          {{ deductionForm.getError('max') }}
        </div>
      </div>
      <input
        class="btn btn-default btn-dark m-2"
        [disabled]="deductionForm.status === 'INVALID'"
        type="submit"
        value="Przelicz"
      />
      <button type="button" class="btn btn-default btn-secondary m-2" (click)="clearForm()">
        Wyczyść formularz
      </button>
      <button type="button" class="btn btn-default btn-secondary m-2" (click)="clearResults()">
        Wyczyść wyniki
      </button>
    </form>
  </div>
</div>

<div *ngIf="results.visible" class="card mx-5">
  <div class="card-body">
    <h4>Wyniki</h4>
    <ul class="list-group">
      <li class="list-group-item">Liczba pozostałych miesięcy {{ results.fullMonthsLeft + 1 }}</li>
      <li class="list-group-item">
        Liczba pozostałych pełnych miesięcy {{ results.fullMonthsLeft }}
      </li>
      <li class="list-group-item">
        Procent potrącanego wynagrodzenia za pracę: {{ results.monthlyDeductions }} %
      </li>
      <li class="list-group-item">
        Procent potrącanego wynagrodzenia za pracę w ostatnim/pierwszym miesiącu:
        {{ results.lastMonthDeductions }} %
      </li>
    </ul>
  </div>
</div>
