<h1>Main Page coming soon :-)</h1>

<!-- <div id="main" class="container ">
  <div class="row">
    <div class="card border-dark rounded d-flex flex-column align-items-center">
      <a routerLink="/subst" routerLinkActive="active"
        ><i class="fas fa-bars mx-4" style="position: relative"
          ><i class="fas fa-bars mx-4"></i></i></a
      >Oblicz karę zastępczą
    </div>
    <div class="card border-dark rounded d-flex flex-column align-items-center">
      <a routerLink="/subst" routerLinkActive="active"
        ><i class="fas fa-bars mx-4" style="position: relative"
          ><i class="fas fa-bars mx-4"></i></i></a
      >Oblicz karę zastępczą
    </div>
    <div class="card border-dark rounded d-flex flex-column align-items-center">
      <a routerLink="/subst" routerLinkActive="active"
        ><i class="fas fa-bars mx-4" style="position: relative"
          ><i class="fas fa-bars mx-4"></i></i></a
      >Oblicz karę zastępczą
    </div>
    <div class="card border-dark rounded d-flex flex-column align-items-center">
      <a routerLink="/subst" routerLinkActive="active"
        ><i class="fas fa-bars mx-4" style="position: relative"
          ><i class="fas fa-bars mx-4"></i></i></a
      >Oblicz karę zastępczą
    </div>
  </div>
</div> -->
