<div id="main" class="card card-body container">
  <div class="row align-items-center">
    <div class="col d-flex flex-column align-items-center justify-content-start">
      <a routerLink="/subst"><i class="fas fa-lock"></i></a>
      <h6>Obliczanie kary zastępczej</h6>
    </div>
    <div class="col d-flex flex-column align-items-center justify-content-start">
      <a routerLink="/installments"><i class="far fa-money-bill-alt"></i></a>
      <h6>Rozkładanie należności sądowych na raty</h6>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col d-flex flex-column align-items-center justify-content-start">
      <a routerLink="/expiry"><i class="far fa-clock"></i></a>
      <h6>Obliczanie przedawnienia wykonania kary</h6>
    </div>
    <div class="col d-flex flex-column align-items-center justify-content-start">
      <a routerLink="/subst"><i class="fas fa-coins"></i></a>
      <h6>
        Zamiana pracy społecznie użytecznej na potrącenia z wynagrodzenia
      </h6>
    </div>
  </div>
</div>
